.colorpicker-wrapper {
  display: block;

  width: 100%;
  padding-bottom: $swatch-padding-bottom;
}

.colorpicker {
  font-family: $--font-stack-monospace;

  position: relative;

  padding: 20px;

  background-color: $white;
  box-shadow: 0 1px 2px 1px hsla(0, 0%, 0%, .09);
}

.colorpicker-head {
  font-weight: bold;

  position: relative;

  display: block;

  padding: 0 80px 10px 5px;

  text-transform: uppercase;
}

.colorpicker-close {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}

.colorpicker-fieldset {
  display: table;

  width: 100%;
  padding-top: 6px;
}

.colorpicker-field {
  display: table-cell;

  text-align: center;
  vertical-align: top;
  input {
    font-size: 14px;
    line-height: 30px;

    display: block;

    width: 100%;

    text-align: center;

    border: $--border;
    outline: none;
  }
}
