.tabs {
  position: relative;

  display: block;

  width: 100%;

  list-style-type: none;
  li {
    font-size: 13px;
    line-height: 40px;

    display: block;
    float: left;

    width: $tab-width;
    margin-right: $tab-margin;

    cursor: pointer;
    transition: all 140ms linear;
    text-align: center;
    letter-spacing: .03em;
    text-transform: uppercase;
  }
}
