// Simple tooltips - Inspired by Tipsy (https://github.com/jaz303/tipsy)
//
// Usage:   .toolipped .toolipped-[n/s/e/w/ne/nw/se/sw]
// North and East position the tooltip above and to the right of the element, respectively.
// The tooltip overrides position, therefore must be wrapped in their own element when used with positioned elements.
// The tooltip content is the element's 'aria-label' attribute content
//

.tooltipped {
    position: relative;
    &::before, &::after {
        position: absolute;
        z-index: 10000001;

        display: none;

        pointer-events: none;
    }
    &::before {
        width: 0;
        height: 0;

        content: '';

        color: $black;
        border: 5px solid transparent;
    }
    &::after {
        font: normal 500 12px / 24px $--font-stack;

        padding: 5px 8px;

        content: attr(aria-label);
        text-align: center;
        white-space: pre;
        text-decoration: none;
        letter-spacing: .02em;
        text-transform: initial;

        color: $white;
        background: $black;

        -webkit-font-smoothing: subpixel-antialiased;
    }
    &:hover {
        &::before, &::after {
            display: inline-block;

            text-decoration: none;
        }
    }
}

.tooltipped-n::before, .tooltipped-ne::before, .tooltipped-nw::before {
    top: -5px;
    right: 50%;
    bottom: auto;

    margin-right: -5px;

    border-top-color: $black;
}

.tooltipped-n::after, .tooltipped-ne::after, .tooltipped-nw::after {
    right: 50%;
    bottom: 100%;

    margin-bottom: 5px;
}

.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before {
    top: auto;
    right: 50%;
    bottom: -5px;

    margin-right: -5px;

    border-bottom-color: $black;
}

.tooltipped-s::after, .tooltipped-se::after, .tooltipped-sw::after {
    top: 100%;
    right: 50%;

    margin-top: 5px;
}

.tooltipped-s::after, .tooltipped-n::after {
    transform: translateX(50%);
}

.tooltipped-e::before, .tooltipped-w::before {
    top: 50%;
    bottom: 50%;

    margin-top: -5px;
}

.tooltipped-w {
    &::before {
        left: -5px;

        border-left-color: $black;
    }
    &::after {
        right: 100%;

        margin-right: 5px;
    }
}

.tooltipped-e {
    &::before {
        right: -5px;

        border-right-color: $black;
    }
    &::after {
        left: 100%;

        margin-left: 5px;
    }
}

.tooltipped-e::after, .tooltipped-w::after {
    bottom: 50%;

    transform: translateY(50%);
}

.tooltipped-nw::after, .tooltipped-sw::after {
    margin-right: -15px;
}

.tooltipped-ne::after, .tooltipped-se::after {
    right: auto;
    left: 50%;

    margin-left: -15px;
}
